@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

.link-styles {
  font-size: 1.1em;
}
.link-styles-mobile {
  font-size: 1.3em;
}
.link-styles-mobile:hover,
.link-styles:hover {
  font-weight: 500;
}
.grid-container {
  max-width: 1200px;
  min-width: 280px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  align-items: center;
}
